<p>Ajouter une tâche</p>

<form action="/add", method="post">
    <label>Nom de la tâche</label>
    <input type="text" name="task" id="task" autofocus>
    <input type="text" name="userId" id="userId" value=<%=userId%> hidden>
    <input type="submit" value="Ajouter">
</form>