<% let state = "" %>
<p>Ajouter une tâche</p>

<form action="/task/add", method="post">
    <label>Nom de la tâche</label>
    <input type="text" name="task" id="task" autofocus>
    <input type="text" name="userId" id="userId" value=<%=userId%> hidden>
    <input type="submit" value="Ajouter">
</form>

<h1> Mes listes des tâches </h1>

<ul>

    <% for (let i = 0; i < liste.length; i++) { %>
    <% if(liste[i].state == true){ %>
    <% state = "en cours" %>
    <% } else {%>
    <% state = "fini" %>
    <% } %>
    <li><a href=<%="/task/"+liste[i]._id%>><%= liste[i].task%> ---- <%=state%></a></li>
    <% }%>

</ul>


