<form action="/inscription" method="post">
    <label>Identifiant</label>
    <input type="text" name="email" id="email" placeholder="votre email" autofocus/>
    <label>Mot de pass</label>
    <input type="password", name="password" id="password"/>
    <input type="submit" value="Inscription"/>
</form>